/* src/components/Filters.css */
.filters-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
  }
  
  .filters-container select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  