.home-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  padding-top: 20px;
}

.section {
  margin-top: 20px;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.top-offers, .products-grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Dark Mode */
body.dark-mode .home-container {
  background: #1a1a1a;
  color: #fff;
}

body.dark-mode .section-title {
  color: #ddd;
}

body.dark-mode .top-offers,
body.dark-mode .products-grid {
  background: #2a2a2a;
}